@import "_variables";

body {
  position: relative;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  background-color: $light;
  color: $dark;
  min-width: 100vw;
  height: 100vh;
  padding: 40px 20px;
  overflow: scroll;
  &__header {
    margin-bottom: 25px;
  }
}

.grudge-button {
  background-color: $dark;
  color: $light;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &[disabled] {
    background-color: $disabled;
  }
}

.grudge-textarea {
  outline: none;
  color: $light;
}

.grudge-icon {
  &:hover {
    cursor: pointer;
  }
}
